{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li id="navbar_edit" role="presentation" class="active"><a href="/index">Index</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <hr>

        <div class="jumbotron">
            <h1>Index</h1>
        </div>
        <hr>

        <div class="row recipe-list">

            <div class="col-sm-4">
                {% for recipe in recipes1 %}
                    <h5><a href="/recipe/{{ recipe.id }}" title="{{ recipe.title }}" target="_blank">{{ recipe.title }}</a></h5>
                {% endfor %}
            </div>

            <div class="col-sm-4">
                {% for recipe in recipes2 %}
                    <h5><a href="/recipe/{{ recipe.id }}" title="{{ recipe.title }}" target="_blank">{{ recipe.title }}</a></h5>
                {% endfor %}

            </div>

            <div class="col-sm-4">
                {% for recipe in recipes3 %}
                    <h5><a href="/recipe/{{ recipe.id }}" title="{{ recipe.title }}" target="_blank">{{ recipe.title }}</a></h5>
                {% endfor %}

            </div>
        </div>
        <br>
        <hr>

        <footer class="footer">
            <p>&copy; 2017 THV Corley</p>
        </footer>

    </div> <!-- /container -->

{% endblock %}