{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Index</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>

        </div>
        <hr>
        <div class="jumbotron">
            {{recipe.image.getContent}}
        </div>
        <hr>
        <div class="row recipe-title">
            <div class="col-lg-12">
                <h2>{{ recipe.title }}</h2>
            </div>
        </div>

        <div class="row intro">
            <div class="col-lg-12">
                {{ recipe.intro }}
            </div>
        </div>

        <div class="row ingredients">
            <div class="col-lg-12">
                {% for ingredient in recipe.ingredients %}
                    {{ ingredient.quantity }}
                    {{  ingredient.unit }}
                    {{ ingredient.size }}
                    {{ ingredient.name }}
                    {{ ingredient.preparation }}<br/>
                {% endfor %}
            </div>
        </div>

        <div class="row method">
            <div class="col-lg-12">
                {% for step in recipe.method %}
                    {{ step.method }} <br/><br/>
                {% endfor %}
            </div>
        </div>
        <hr>
        <footer class="footer">
            <p>&copy; THV Corley</p>
        </footer>

    </div>




{% endblock %}