body {
    background-color: #F9F9EF;
    font-family: 'Georgia', serif;
    color: #3C3C3C;
}
.jumbotron {
    color: #3C3C3C;
    background-color: #F9F9EF;
    padding-top: 160px;
    padding-bottom: 20px;
    margin: 0 10px 0 10px;
}

.text-muted {
    color: #3C3C3C;
    text-align: center;
}

a {
    color: #3C3C3C;
    text-decoration: none;
}
a:hover {
    color: #C98474;
}

hr {
    border: none;
    height: 1px;
    background-color: #C98474;
}

.nav-pills>li>a:hover {
    border-radius: 5px;
    background-color: #F9F9EF;
    color: #C98474;
}

.nav-pills>li>a {
     border-radius: 5px;
     background-color: #F9F9EF;
     color: #3C3C3C;
     font-size: 15px;
 }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #C98474;
    background-color: #F9F9EF;
}

.container {
    padding: 0px;
    max-width: 700px;
}
.row {
    margin: 20px 0 20px 0;
    padding-right: 60px;
    padding-left: 60px;
}
.row.recipe-list {
    padding: 0 30px 0 30px;
}

.ingredients {
    padding: 0 30px 0 30px;
}

.intro, .method {
    text-align: justify;
    padding: 0 15px 0 15px;
}

div.header.clearfix {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 50px;
    margin-top: 20px;
}

.pull-right {
    float: right;
}

.h1, h1 {
    font-size: 50px;
}

.footer {
    margin: 0 20px 0 20px;
}